*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.03em;
    word-spacing: 0.05em;
    margin-inline: auto;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F8F6;
}

/* HEADER */

header {
    background-color: #282638;
    color: white;
    padding: 1.3rem 5%;
    font-size: 1.3rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    font-weight: bold;
}

h1 {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

/* SECTION ADD-BOOK */

.add-book {
    margin: 3rem auto;
    max-width: 900px;
    width: 90%;
}

.first-line {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.field-1,
.field-2,
.field-3 {
    display: flex;
    flex-direction: column;
    flex: 1 1 150px;
}

label {
    font-size: 1rem;
    font-weight: 600;
}

.field-1 input,
.field-2 input,
.field-3 select {
    padding: 0.6rem;
    border-radius: 4px;
    border: 2px solid #ccc;
    width: 100%;
    background-color: transparent;
}

.second-line {
    margin: 1.5rem 0;
}

.second-line button {
    width: 9rem;
    padding: 15px;
    border: 2px solid #ccc;
    background-color: #282638;
    color: #F9F8F6;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.second-line button:hover {
    background-color: rgb(68, 61, 143);
}

/* SECTION DISPLAY-BOOK */

.display-book {
    margin: 3rem auto;
    max-width: 900px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));   
    gap: 1.5rem;
    flex-wrap: wrap;
}

.display-book div {
    background-color: rgb(235, 235, 235);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.display-book p {
    margin: 0.5rem 0;
    font-weight: 600;
    font-size: 1.2rem;
}

.display-book button {
    margin: 0.5rem 0;
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    background-color: #16142e;
    color: #F9F8F6;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

button.not-read {
    background-color: #ff6d6d;
}

button.remove {
    background-color: rgb(160, 160, 160);
}

button.not-read:hover {
    background-color: #c75555;
}

button.remove:hover {
    background-color: rgb(121, 121, 121);
}