*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.03em;
    word-spacing: 0.05em;
    margin-inline: auto;
}

body {
    font-family: 'Raleway', Helevetica, sans-serif;
    background-color: #F9F8F6;
}

header {
    background-color: #5A6D57;
    color: white;
    padding: 1.3rem 5%;
    font-size: 1.3rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

.add-book {
    margin: 3rem auto;
    max-width: 900px;
    width: 90%;
}

.first-line {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.field-1,
.field-2,
.field-3 {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
}

label {
    font-size: 1rem;
    font-weight: 600;
}

.field-1 input,
.field-2 input,
.field-3 select {
    padding: 0.6rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}